[Hardware]
SCK_BCM_num = 4
DATA_BCM_num = 27
chip_model = DHT11
serial_path = /dev/ttyACM0

[Common]
check_interval_sec = 5
history_max_len = 2
max_state = 2

[Webhook]
AC_off = https://maker.ifttt.com/trigger/{event_name}/with/key/{your_key}
AC_on = https://maker.ifttt.com/trigger/{event_name}/with/key/{your_key}

[Firebase]
db_location = https://your-database-url.firebaseio.com/
project_name = <name of the project>
